# ==========================================
# Obsidian
# ==========================================

# Layout específico de cada dispositivo
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Cache
.obsidian/cache/

# ==========================================
# Syncthing
# ==========================================

.stfolder
.stignore
.stversions/

# ==========================================
# Lixeira do Obsidian
# ==========================================

.trash/

# ==========================================
# Sistema Operacional
# ==========================================

Thumbs.db
Desktop.ini
.DS_Store